body{
  background: black;
  color: white;
}
img{
 width:200px;
}
h1{
  font-family: 'Anton', sans-serif;
}

h1:hover {
    color: red;
    transition: 10s;
}
p{
  font-family: 'Lobster', cursive;
}
